/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none; }

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%; }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none; }

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */ }

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0; }

/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */ }

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */ }

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */ }

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

html,
button,
input,
select,
textarea {
  color: #222; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

img {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

a {
  text-decoration: none; }

@font-face {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(../fonts/Mulish-Light.woff2) format("woff2"), url(../fonts/Mulish-Light.woff) format("woff"); }

@font-face {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/Mulish-Regular.woff2) format("woff2"), url(../fonts/Mulish-Regular.woff) format("woff"); }

@font-face {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(../fonts/Mulish-SemiBold.woff2) format("woff2"), url(../fonts/Mulish-SemiBold.woff) format("woff"); }

@font-face {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/Mulish-Bold.woff2) format("woff2"), url(../fonts/Mulish-Bold.woff) format("woff"); }

* {
  box-sizing: border-box; }

.container-full {
  width: 1217px;
  margin-left: auto;
  margin-right: auto; }

.container {
  width: 1120px;
  margin-left: auto;
  margin-right: auto; }

body {
  font-family: "Mulish", sans-serif;
  font-style: normal; }

.button-link {
  min-width: 200px;
  display: inline-block;
  text-align: center;
  font-family: inherit;
  font-size: 18px;
  line-height: 1.1;
  font-weight: 700;
  color: #458ff6;
  border: 1px solid #458ff6;
  background-color: white;
  border-radius: 55px;
  padding: 18px; }

.content-center {
  display: flex;
  justify-content: center; }

.title {
  font-size: 36px;
  line-height: 1.56;
  font-weight: 700;
  color: #000000; }
  .title::after {
    content: "";
    display: block;
    margin-top: 26px;
    width: 56px;
    height: 2px;
    background-color: #000000;
    border-radius: 1px; }

.title-center {
  text-align: center; }
  .title-center::after {
    margin-left: auto;
    margin-right: auto; }

.general-text {
  font-size: 18px;
  line-height: 1.67;
  font-weight: 300;
  color: #7d7987; }

.title-bottom-distance {
  margin-bottom: 32px; }

.text-bottom-distance {
  margin-bottom: 40px; }

.aligning-content {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.distance-arrow {
  margin-right: 14px; }

header {
  padding-top: 56px;
  padding-bottom: 80px; }

.logo {
  display: flex;
  align-items: center; }
  .logo img {
    width: 41px;
    margin-right: 12px; }
  .logo span {
    font-size: 24px;
    line-height: 1.25;
    font-weight: 700;
    color: #233348; }

.navigation {
  display: flex; }
  .navigation li {
    margin-left: 40px; }
    .navigation li:first-child {
      margin-left: 0px; }

.nav-list {
  font-size: 18px;
  line-height: 1.28;
  font-weight: 400;
  color: rgba(31, 21, 52, 0.5); }

.nav-list-current {
  font-weight: 700;
  color: #1f1534; }

.hero {
  margin-bottom: 192px; }

.hero-content {
  margin-right: 109px; }
  .hero-content h1 {
    font-size: 48px;
    line-height: 1.17;
    font-weight: 700;
    color: #000000;
    margin-bottom: 25px; }
  .hero-content p {
    font-size: 21px;
    line-height: 1.52;
    font-weight: 300;
    color: #7d7987;
    margin-bottom: 45px; }

.button-filled {
  color: white;
  background-color: #458ff6; }

.general-text-center {
  text-align: center;
  width: 952px;
  margin-left: auto;
  margin-right: auto; }

.services {
  margin-bottom: 220px; }
  .services > p {
    margin-bottom: 80px; }

.services-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 72px; }
  .services-cards li {
    width: 350px;
    background-color: #ffffff;
    box-shadow: 10px 40px 50px rgba(132, 135, 145, 0.4);
    /* The shadow made a different color */
    border-radius: 20px;
    overflow: hidden;
    padding: 47px 50px 47px 38px;
    margin-bottom: 37px; }
    .services-cards li:nth-last-child(-n + 3) {
      margin-bottom: 0px; }
  .services-cards img {
    height: 90px;
    margin-bottom: 22px; }
  .services-cards h3 {
    font-size: 24px;
    line-height: 2.33;
    font-weight: 700;
    color: #000000; }
  .services-cards p {
    font-size: 16px;
    line-height: 1.75;
    font-weight: 300;
    color: #7d7987; }

.healthcare-providers {
  margin-bottom: 229px; }
  .healthcare-providers img {
    margin-right: 137px; }

.mobile-apps {
  margin-bottom: 266px; }

.mobile-apps-content {
  margin-right: 70px; }

.align-arrow {
  display: inline-flex;
  align-items: center;
  justify-content: center; }

.customer {
  margin-bottom: 222px; }
  .customer h2 {
    margin-bottom: 65px; }
  .customer blockquote {
    font-size: 19px;
    line-height: 1.58;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.9); }

.customer-feedback {
  background: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);
  border-radius: 24px;
  padding: 64px 118px 79px;
  overflow: hidden;
  margin-bottom: 42px; }

.white-title {
  line-height: 1.33;
  color: #FFFFFF; }
  .white-title::after {
    background-color: #FFFFFF; }

.customer-content {
  display: flex;
  align-items: center;
  white-space: nowrap;
  margin-right: 120px; }
  .customer-content img {
    margin-right: 29px; }

.name {
  font-size: 22px;
  line-height: 2.18;
  font-weight: 700;
  color: #FFFFFF; }

.career {
  font-size: 18px;
  line-height: 1.1;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.85); }

.slider {
  width: fit-content;
  margin-left: auto;
  margin-right: auto; }
  .slider button {
    background: none;
    border: none;
    padding: 0px; }

.arrow-left {
  transform: rotate(-180deg);
  margin-right: 90px; }

.arrow-disabled {
  opacity: 0.4; }

.block-circles {
  margin-right: 90px; }
  .block-circles li {
    margin-right: 18px; }
    .block-circles li:last-child {
      margin-right: 0px; }

.cirkle-disabled {
  opacity: 0.3; }

.article {
  margin-bottom: 200px; }
  .article h2 {
    margin-bottom: 80px; }

.article-cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 72px; }
  .article-cards li {
    width: 350px;
    background-color: #FFFFFF;
    box-shadow: 10px 40px 50px rgba(132, 135, 145, 0.4);
    /* The shadow made a different color */
    border-radius: 20px;
    overflow: hidden; }
  .article-cards div {
    padding: 24px 50px 35px 35px; }
  .article-cards h3 {
    font-size: 21px;
    line-height: 1.52;
    font-weight: 700;
    color: #000000;
    margin-bottom: 12px; }
  .article-cards p {
    font-size: 16px;
    line-height: 1.75;
    font-weight: 300;
    color: #7D7987;
    margin-bottom: 25px; }
  .article-cards span {
    font-size: 17px;
    line-height: 1.65;
    font-weight: 600;
    color: #4089ED; }

.align-right-arrow {
  display: inline-flex;
  align-items: center; }

footer {
  background: linear-gradient(183.41deg, #67c3f3 -8.57%, #5a98f2 82.96%);
  padding-top: 118px;
  padding-bottom: 110px;
  color: white; }

.aligning-footer {
  display: flex;
  justify-content: space-between; }

.logo-white {
  margin-bottom: 17px; }
  .logo-white span {
    color: white; }

.credentials {
  width: 390px; }
  .credentials h2 {
    font-size: 0px; }
  .credentials p {
    font-weight: 300;
    font-size: 16px;
    line-height: 1.75; }

.general-information {
  font-weight: 300;
  font-size: 18px;
  line-height: 1.56;
  margin-bottom: 30px; }

.navigation-footer h3 {
  margin-bottom: 27px; }
  .navigation-footer h3 a {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.1;
    color: inherit; }

.navigation-footer li {
  margin-bottom: 27px; }
  .navigation-footer li:last-child {
    margin-bottom: 0px; }
  .navigation-footer li a {
    font-weight: 300;
    font-size: 18px;
    line-height: 1.1;
    color: inherit; }
