.article {
    margin-bottom: 200px;

    h2 {
        margin-bottom: 80px;
    }
}

.article-cards {
    display: flex;
    justify-content: space-between;
    margin-bottom: 72px;

    li {
        width: 350px;
        background-color: #FFFFFF;
        @include grey-shadow;
        /* The shadow made a different color */
        border-radius: 20px;
        overflow: hidden;
    }

    div {
        padding: 24px 50px 35px 35px;
    }
    
    h3 {
        font-size: 21px;
        line-height: 1.52;
        font-weight: 700;
        color: #000000;
        margin-bottom: 12px;
    }
    
    p {
        font-size: 16px;
        line-height: 1.75;
        font-weight: 300;
        color: #7D7987;
        margin-bottom: 25px;
    }
    
    span {
        font-size: 17px;
        line-height: 1.65;
        font-weight: 600;
        color: #4089ED;
    }
}

.align-right-arrow {
    display: inline-flex;
    align-items: center;
}