header {
    padding-top: 56px;
    padding-bottom: 80px;
}

.logo {
    display: flex;
    align-items: center;

    img {
        width: 41px;
        margin-right: 12px;
    }

    span {
        font-size: 24px;
        line-height: 1.25;
        font-weight: 700;
        color: #233348;
    }
}

.navigation {
    display: flex;

    li {
        margin-left: 40px;
        
        &:first-child {
            margin-left: 0px;
        }
    }
}

.nav-list {
    font-size: 18px;
    line-height: 1.28;
    font-weight: 400;
    color: rgba(31, 21, 52, 0.5);
}

.nav-list-current {
    font-weight: 700;
    color: rgba(31, 21, 52, 1);
}
