.hero {
    margin-bottom: 192px;
}

.hero-content {
    margin-right: 109px;

    h1 {
        font-size: 48px;
        line-height: 1.17;
        font-weight: 700;
        color: #000000;
        margin-bottom: 25px;
    }
    
    p {
        font-size: 21px;
        line-height: 1.52;
        font-weight: 300;
        color: #7d7987;
        margin-bottom: 45px;
    }
}

.button-filled {
    color: white;
    background-color: #458ff6;
}
